<script>
    import { WebSocketModule } from '/static/star_ray/websocket.js';

    function handleMouseMotion(event) {
        var element = event.target;
        var data = {
            id: element.id,
            type: element.tagName,
            timestamp: event.timeStamp,
            position: { x: event.clientX, y: event.clientY },
            relative: { x: event.movementX, y: event.movementY },
        }
        WebSocketModule.send(data)
    }

    document.addEventListener('DOMContentLoaded', function () {
        document.addEventListener("mousemove", handleMouseMotion)
    });
</script>