<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ head | safe }}

</head>

<body>
    {{ body | safe }}
    <script type="module">
        import { WebSocketModule } from '/static/star_ray/websocket.js';
        document.addEventListener("DOMContentLoaded", function () {
            // script to connect to the server websocket...
            const host = window.location.host;
            // this is just for testing purposes, it acts as a unique session ID
            // we should do this properly using a custom header, cookies etc.
            const token = new Date().getTime() + "_" + Math.random().toString(36).substring(2, 15);
            WebSocketModule.connect(host, token);
        });
    </script>
</body>

</html>