<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {{ head | safe }}
</head>

<body>
    <!-- include input event handling javascript -->
    {% include 'js/handle_input.js.jinja' %}
    {{ body | safe }}
</body>

</html>